@import '../../styles/settings.scss';

.form {
  margin: $base-size auto;
  text-align: center;
}

.input {
  margin: 0 $base-size $base-size 0;
  padding: $base-size;
  border-radius: $radius;
  border: 1px solid $color-dark;
}

.addListButton {
  padding: $base-size 2*$base-size;
  background-color: #26DE81;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: darken(#26DE81, 10%);
  }
}
