@import '../../styles/settings.scss';

.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;

    input {
        height: 32px;
        padding: 4px 8px;
        font-size: 14px;
        border-radius: $radius;
        border: 1px solid #ccc;
        outline: none;
    }

    .button {
        height: 32px;
        padding: 0 12px;
        margin-left: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-success;
        border: 0;
        color: $color-light;
        border-radius: $radius;
        cursor: pointer;
        font-weight: 700;
        text-transform: uppercase;
        transition: $transition;

        &:hover {
            background: darken($color-success, 5%);
        }

        &.danger {
            background: $color-warning;

            &:hover {
                background: darken($color-warning, 5%);
            }
        }

        &.transparent {
            background: transparent;

            &:hover {
                color: darken($color-light, 20%);
            }
        }
    }
}
